.deck-list {
    text-align: center; 
    margin-bottom: 40px;
}

.deck, .add-deck {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    cursor: pointer;
}

.deck-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    cursor: pointer;
}

.deck h3 {
    margin: 0; /* Removes default margin to align text properly */
}

.add-deck {
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}