Flask==3.0.2
Flask-Cors==4.0.0
gunicorn==20.1.0
langchain==0.1.12
langchain-community==0.0.28
langchain-core==0.1.32
langchain-openai==0.0.8
langchain-text-splitters==0.0.1
openai==1.14.1
marshmallow==3.21.1
psycopg2-binary==2.9.9
pytest==8.1.1
SQLAlchemy==2.0.28
tiktoken==0.6.0
