.flashcard {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    cursor: pointer;
}

.answer {
    margin-top: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 4px;
}

.answer summary {
    font-weight: bold;
}

.answer p {
    padding-top: 10px;
}

.editable-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.edit-question, .edit-answer {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Ensures padding does not add to overall width */
}

.edit-question {
    margin-bottom: 0; /* No bottom margin for question textarea to align with icons properly */
}


.action-buttons {
    display: flex;
    justify-content: center; /* Center the buttons horizontally */
    gap: 20px; /* Adds some space between the buttons */
    margin-top: 10px;
}

.save-btn, .cancel-btn, .generate-btn, .cancel-generate-btn{
    padding: 10px 10px; /* Adjust padding for better visual */
    border: none;
    border-radius: 4px; /* Keeps consistency with your design */
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.generate-btn {
    background-color: #ddd; /* Subtle grey to fit the page's color scheme */
    color: #333; /* Dark text for readability */
}

.save-btn {
    background-color: #ddd; /* Subtle grey to fit the page's color scheme */
    color: #333; /* Dark text for readability */
}

.cancel-btn {
    background-color: #ddd; /* Slightly darker grey for distinction */
    color: #333;
}

.save-btn:hover, .cancel-btn:hover, .generate-btn:hover {
    background-color: #ccc; /* Darken button on hover for feedback */
}